@import "./normilize/reset";
@import "./normilize/swiper";

@import "node_modules/swiper/swiper-bundle";

@import "./functions/z";
@import "./functions/vw";

@import "./mixin/flex-wrap";
@import "./mixin/fluid-font";
@import "./mixin/font-size";
@import "./mixin/fonts";
@import "./mixin/media";
@import "./mixin/placeholder";
@import "./mixin/position";
@import "./mixin/pseudo";
@import "./mixin/res-ratio";

@import "./fonts";
@import "./setting/variables";
@import "./setting/main";

@import "./elements/button";
@import "./elements/content";
@import "./elements/input";
@import "./elements/s-title";
@import "./elements/sl-arrows";

@import "@Sections/main/main";