$mobile: 768px;
$aboveMobile: 769px;

$tablet: 992px;
$aboveTable: 993px;

$smDesktop: 1280px;
$aboveSmDesktop: 1281px;

$mDesktop: 1440px;
$aboveHD: 1921px;

@mixin for-mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin aboveMobile {
    @media (min-width: $aboveMobile) {
        @content;
    }
}

@mixin for-tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin aboveTablet {
    @media (min-width: $aboveTable) {
        @content;
    }
}

@mixin in-tablet {
    @media (min-width: $aboveMobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin for-sm-desktop {
    @media (max-width: $smDesktop) {
        @content;
    }
}

@mixin aboveSmDesktop {
    @media (min-width: $aboveSmDesktop) {
        @content;
    }
}

@mixin in-sm-desktop {
    @media (min-width: $aboveTable) and (max-width: $smDesktop) {
        @content;
    }
}

@mixin for-m-desktop {
    @media (max-width: $mDesktop) {
        @content;
    }
}

@mixin in-m-desktop {
    @media (min-width: $aboveSmDesktop) and (max-width: $mDesktop) {
        @content;
    }
}

@mixin for-large {
    @media (min-width: $aboveHD) {
        @content;
    }
}
