.content {
    position: relative;
    color: $black;

    a {
        color: $active;
        text-decoration: underline;

        &:hover {
            color: $activeHover;
        }

        &:visited {
            color: $activeVisited;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 32px;
        margin-bottom: 24px;
        line-height: 130%;
    }

    h1 {
        font-size: 40px;
        font-weight: 500;

        @media (max-width: 960px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 32px;
            line-height: 110%;
        }

        @media(max-width: 390px) {
            font-size: 26px;
            line-height: 110%;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 34px;

        @media (max-width: 960px) {
            font-size: 32px;
        }

        @media (max-width: 768px) {
            font-size: 28px;
            line-height: 110%;
        }

        @media(max-width: 390px) {
            font-size: 24px;
            line-height: 110%;
        }
    }

    h3 {
        font-weight: 400;
        font-size: 30px;

        @media (max-width: 960px) {
            font-size: 26px;
        }

        @media (max-width: 768px) {
            font-size: 24px;
        }

        @media(max-width: 390px) {
            font-size: 22px;
        }
    }

    h4 {
        font-weight: 400;
        font-size: 24px;

        @media (max-width: 960px) {
            font-size: 20px;
        }

        @media(max-width: 390px) {
            font-size: 19px;
        }
    }

    h5 {
        font-weight: 400;
        font-size: 20px;

        @media(max-width: 390px) {
            font-size: 18px;
        }
    }

    .table__wrapper {
        @media (max-width: 768px) {
            overflow-x: auto;

            table {
                min-width: 660px;
            }
        }
    }

    &.no-mobile {
        .table__wrapper {
            @media (max-width: 768px) {
                overflow-x: hidden;

                table {
                    min-width: auto !important;
                    font-size: 10px !important;
                    line-height: 120%;
                }

                p {
                    line-height: 120%;
                    font-size: 10px !important;
                }
            }

            @media (max-width: 400px) {
                table {
                    font-size: 9px !important;
                    line-height: 115%;
                }

                p {
                    line-height: 115%;
                    font-size: 9px !important;
                }
            }
        }
    }

    table {
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
        overflow: auto;
        display: block;
        margin-bottom: 24px;
    }

    table td,
    table th {
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        padding: 8px;
        font-size: 15px;
        border: none;
        overflow-x: hidden;
        overflow-y: auto;
    }

    table td {
        font-size: 13px;
        border-right: 1px solid #e6e4e4;
    }

    table th,
    table td {
        border: 1px solid #e6e4e4;
    }

    table tr {
        background-color: #f6f6f6;
    }

    table tr:nth-child(even) {
        background: #fafafa;
    }

    table thead tr {
        background-color: #fff;
        color: $active;
    }

    p {
        display: block;
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 16px;
        font-weight: 300;

        @media (max-width: 960px) {
            font-size: 16px;
        }
    }

    ul {
        padding: 12px 0 12px 20px;

        @media (max-width: 768px) {
            padding: 0 0 6px 20px;
        }

        li {
            position: relative;
            padding-bottom: 16px;

            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: -10px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $active;
            }
        }
    }

    ol {
        counter-reset: count;
        list-style-type: none;
        padding: 12px 0 12px 30px;

        @media (max-width: 960px) {
            padding: 12px 0 12px 26px;
        }

        li {
            position: relative;
            padding-bottom: 16px;

            &:last-child {
                padding-bottom: 0;
            }

            &::before {
                counter-increment: count;
                content: counters(count, ".") ". ";
                position: absolute;
                top: 0;
                left: -20px;
                color: $active;
                font-size: 20px;
                font-weight: 300;

                @media (max-width: 960px) {
                    font-size: 18px;
                    left: -16px;
                }

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }

    li {
        font-size: 18px;
        font-weight: 300;

        @media (max-width: 960px) {
            font-size: 16px;
        }
    }

    blockquote {
        position: relative;
        padding: 48px 24px 48px 0;
        margin: 48px 16px 48px 72px;
        font-size: 16px;
        border-top: 2px solid $active;
        border-bottom: 2px solid $active;

        @media (max-width: 960px) {
            padding: 24px 20px 24px 20px;
            margin: 32px 0 32px 0;
        }
    }

    blockquote cite {
        color: $active;
        font-size: 15px;
        padding-top: 20px;
        display: block;
    }

    .blockquote {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 960px) {
            flex-direction: column;
            align-items: start;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
        }

        &__picture {
            min-width: 92px;
            max-width: 92px;
            height: 92px;
            border-radius: 50%;
            margin-right: 32px;

            @media (max-width: 960px) {
                margin-bottom: 12px;
            }

            img {
                padding: 0 !important;
                margin: 0 !important;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    iframe {
        width: 100%;
        min-height: 320px;
    }

    img {
        user-select: none;
        width: auto;
        margin: 20px auto;
        display: inline-block;

        @include for-tablet {
            padding: 0 !important;
            margin: 0 !important;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}