.sl-arrows {
    user-select: none;
    position: absolute;

    &__arrow {
        background-color: #fff;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        // background-image: url("");

        &:first-child {
         
        }
    }

}