$active: #6b41c6;
$activeHover: #6b41c6;
$activeVisited: #6b41c6;

$white: #fff;
$black: #191919;

$bgColor: #1d1d1dec;

$transition: 0.25s;
$boxShadow: 0px 6px 12px rgba(0, 0, 0, 0.08), 0px 4px 6px 1px rgba(0, 0, 0, 0.12);
